- do not change design unless ask to
- always make the code simple and clean
- do not over engineer the code
- always ask question if you are not sure
- do not change a code unless ask to
- take security serious
- the backend of this project is 360backend, check it if you need reference